{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}
    <h1>{{showUser.username}}</h1>
        <ul style="display: inline-block;">
            {% if showUser.fullName != ''%}
                <li>
                    {{showUser.fullName}}
                </li>
            {% endif %}
            <li>
                Posts voted: {{ showUser.votedPosts|length }}
            </li>
            <li>
                Posts submitted: {{ showUser.posts|length }}
            </li>
            <li>
                Comments submitted: {{ showUser.comments|length }}
            </li>
        </ul>


{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>
    </div>
{% endblock %}
